body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;

}

html {
    scroll-behavior: smooth;
}

.notificationBar {
    background-color: rgb(15,64,0);
    left: 0;
    right: 0;
    top: 0;
    padding: 14px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    position: fixed;
}

.notificationBar button {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 7px 24px;
    font-size: 15px;
    margin-left: 25px;
    font-weight: 380;
    letter-spacing: .5px;
    outline: none;
}

button {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 7px 24px;
    font-size: 15px;
    margin-left: 25px;
    font-weight: 200 !important;
    letter-spacing: .5px;
    outline: none;
    background-color: rgb(14, 63, 1);
}

caption {
    background-color: black;
    color: red;
}

.notificationBar button:hover {
    background-color: rgb(0, 97, 0);
}

.notificationBar button:focus {
    background-color: rgb(19, 80, 2);
}

.navigation {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    position: fixed;
    width: 100%;
    top: 62px;
    padding-right: 500px !important;
}


.logo {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: none;
    cursor: pointer;
    color: rgb(228, 228, 228);
}

.Links {
    text-align: right;
    padding-right: 40px;
}

.NavLink {
    text-decoration: none;
}

.NavLink a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(212, 211, 211);
}

.NavLink a:hover {
    color: whitesmoke;
    transition: ease-in-out;
    transition-duration: 200ms;
}

nav {
   left: 0;
    right: 0;
    top: 0; 
    z-index: 2;
}

body {
   left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
}

.Body {
    margin-top: 115px;
    background-color: rgb(255, 255, 255);
    height: 900px;
}

.headerImage {
    width: 100%;
    height: 160%;
    left: 0;
    right: 0;
    top: 0;
    background-image: url("castle-2418614_1920.jpg");
    text-align: center;
    color: white;
}

.h1 {
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin: auto;
    margin-top: 500px;
}